@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.font {
    font-family: "Azeret Mono", monospace;
}

.container {
    width: 81%;
    margin: 0 auto;
}

.header>h1 {
    font-family: "Azeret Mono", monospace;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 800;
}

.header-btn {
    padding: 10px 24px 10px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

header>nav>h1 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 1px;
}

header>div {
    background: url(assets/Hero-bg.png);
    width: 100%;
    height: 552px;
    margin-top: 52px;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-section {
    text-align: center;
}

.hero-section>img {
    margin-top: 26px;
}

.hero-section>p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 1px;
    opacity: 0.7;
}

.hero-section>button {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    align-items: center;
    padding: 18px 24px 18px 24px;
    color: #fff;
    letter-spacing: 2px;
    font-family: Azeret Mono;
    margin-top: 17px;
    font-size: 15px;
}

.section-one {
    margin-top: 54px;
    background: rgba(13, 19, 33, 0.02);
}

.section-one {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding-bottom: 60px;

}

.development-section>h1 {
    padding-top: 60px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 800;
    text-align: center;

}

.development-section>p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2px;
    opacity: 0.7;
    text-align: center;

}

.Developer-row-one {
    display: flex;
    justify-content: space-between;
    padding: 35px 45px;
    margin: 35px 45px;
    /* border-radius: 12px; */
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #e1e1e1 0%, #fff 100%);


}

.coding-skill>h1 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.coding-skill>p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

.coding-skill>button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 30px 12px 30px;

}

.Developer-row-two {
    display: flex;
    padding: 35px 45px;
    margin: 35px 45px;
    gap: 60px;
    background-color: #e3e3e3;
    background-image:  linear-gradient(90deg, #fff 0%, #e1e1e1 100%);
    /* border-radius: 12px; */
}
.Developer-row-three{
    display: flex;
    justify-content: space-between;
    padding: 35px 45px;
    margin: 35px 45px;
    /* border-radius: 12px; */
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #e1e1e1 0%, #fff 100%);
}
.third-section>h1{
    padding-top: 60px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}
.third-section>p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2px;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 50px;
}
.third-section>iframe{
 border-radius: 12px ;
 margin-top: 40px;
}
